@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
	font-family: 'Noto Sans KR', sans-serif;
	font-style: normal;

	padding: 0;
	margin: 0;
}

body {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

img {
	-webkit-user-drag: none;
}

@media screen and (max-width: 550px) { /* 모바일 */
	html { font-size: 0.7px; }
}
@media screen and (min-width: 550px) and (max-width: 650px) { /* 태블릿  */
	html { font-size: 0.8px; }
}
@media screen and (min-width: 650px) { /* PC */
	html { font-size: 1px;}
}